<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="theme-color" content="#393e46">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="keywords" content="Web developer, Novi Sad">
        <meta name="description" content="Web developer from Novi Sad">
        <meta name="author" content="Radovanović Ilija">

        <title>Personal Site</title>

        <!-- favicon -->
        <link rel="icon" href="./img/favicon(3).ico">

        <!-- Font Awesome -->
        <script defer="" src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lora:wght@400;700&family=Montserrat:wght@100;400;700;900&display=swap"
            rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="./css/reset.css">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="container">
            <nav id="home" class="light-section">
                <ul>
                    <li><a class="home" href="#home">Home</a></li>
                    <li><a class="about-me" href="#about-me">About</a></li>
                    <li><a class="work" href="#work">Work</a></li>
                    <li><a class="my-skills" href="#my-skills">Skills</a></li>
                    <li><a class="contact" href="#contact">Contact</a></li>
                </ul>
            </nav>

            <header class="light-section">
                <div class="inner-container">
                    <h1>I'm Ilija<br><span>a web developer</span></h1>
                </div>
            </header>
            from
            <main>

                <!-- ABOUT ME SECTION -->
                <section id="about-me" class="dark-section">
                    <div class="inner-container">
                        <h2>About me</h2>
                        <p>I am a self-taught Full Stack Developer from Novi Sad, Serbia. Husband, father of three small
                            kids, dog owner - Labrador Retriever are the best, veteran basketball player, former free
                            climber and camping lover.</p>
                    </div>
                </section>

                <!-- WORK SECTION -->
                <section id="work" class="light-section">
                    <div class="inner-container">
                        <h2>These are some of my projects</h2>
                        <div class="row">
                            <div class="col">
                                <a href="https://janavukhana.github.io/crudApp/" target="_blank" rel="noopener">
                                    <figure>
                                        <img src="/img/crud.jpg" alt="message">
                                        <figcaption><span>&lt;</span>CRUD app<span>/&gt;</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://janavukhana.github.io/clone-starbucks/" target="_blank" rel="noopener">
                                    <figure>
                                        <img src="/img/quokka-1.webp" alt="quokka">
                                        <figcaption><span>&lt;</span>Starbucks clone<span>/&gt;</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://janavukhana.github.io/the_game/index.html" target="_blank"
                                    rel="noopener">
                                    <figure>
                                        <img src="./img/deadpool-1.webp" alt="game">
                                        <figcaption><span>&lt;</span>The Game<span>/&gt;</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://janavukhana.github.io/zdrav-zivot/" target="_blank" rel="noopener">
                                    <figure>
                                        <img src="./img/zdrav-zivot.jpg" alt="house">
                                        <figcaption><span>&lt;</span>Zdrav život<span>/&gt;</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://janavukhana.github.io/band/" target="_blank" rel="noopener">
                                    <figure>
                                        <img src="./img/chicago_1.jpg" alt="the band">
                                        <figcaption><span>&lt;</span>The Band<span>/&gt;</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://cryptic-reef-32605.herokuapp.com/" target="_blank" rel="noopener">
                                    <figure>
                                        <img src="/img/weadding_photo.webp" alt="wedding">
                                        <figcaption><span>&lt;</span>Weddings<span>/&gt;</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://janavukhana.github.io/dzidzabidzice/" target="_blank" rel="noopener">
                                    <figure>
                                        <img src="/img/muffin_4.jpeg" alt="muffins">
                                        <figcaption><span>&lt;</span>Muffins<span>/&gt;</span></figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://janavukhana.github.io/restaurant-modal/" target="_blank"
                                    rel="noopener">
                                    <figure>
                                        <img src="/img/onepage_restaurant.jpg" alt="restaurant">
                                        <figcaption><span>&lt;</span>Restaurant<span>/&gt;</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                            <!-- <div class="col">
                                <a href="https://janavukhana.github.io/divcibareApp/" target="_blank">
                                    <figure>
                                        <img src="/img/apartment.jpeg" alt="house">
                                        <figcaption><span>&lt;</span>Apartment<span>/&gt;</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div> -->
                            <div class="col">
                                <a href="https://janavukhana.github.io/sanitetskiTransport/" target="_blank"
                                    rel="noopener">
                                    <figure>
                                        <img src="/img/abmulance.jpg" alt="ambulance car">
                                        <figcaption><span>&lt;</span>Ambulance<span>/&gt;</span></figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://janavukhana.github.io/hamburger-w3/" target="_blank" rel="noopener">
                                    <figure>
                                        <img src="./img/hamburger.jpg" alt="hamburger">
                                        <figcaption><span>&lt;</span>Catering<span>/&gt;</span></figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- MY SKILLS SECTION -->
                <section id="my-skills" class="dark-section">
                    <div class="inner-container">
                        <h2>My skills</h2>
                        <div class="row">
                            <div class="col">
                                <i class="fab fa-html5 fa-5x"></i>
                                <p>Html5</p>
                            </div>
                            <div class="col">
                                <i class="fab fa-css3 fa-5x"></i>
                                <p>CSS3</p>
                            </div>
                            <div class="col">
                                <i class="fab fa-js-square fa-5x"></i>
                                <p>JS</p>
                            </div>
                            <div class="col">
                                <i class="fab fa-php fa-5x"></i>
                                <p>PHP</p>
                            </div>
                            <div class="col">
                                <i class="fab fa-laravel fa-5x"></i>
                                <p>Laravel</p>
                            </div>
                        </div>
                        <div class="other-skills">
                            <h3>Other skills basic knowledge</h3>
                            <ul>
                                <li>MySQL</li>
                                <li>Bootstrap</li>
                                <li>Node.js</li>
                                <li>React</li>
                                <li>Wordpress</li>
                            </ul>
                        </div>
                        <div class="other-skills">
                            <h3>Experience with tools</h3>
                            <ul>
                                <li>Linux</li>
                                <li>git</li>
                                <li>GitHub</li>
                                <li>gulp</li>
                                <li>webpack</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- CONTACT SECTION -->
                <section id="contact" class="light-section">
                    <div class="inner-container">
                        <h2>Let's work together...</h2>
                        <h3>How do you take your coffee?</h3>
                        <div class="contact-info">
                            <p>
                                <i class="fas fa-map-marker-alt"></i> Novi Sad, Serbia
                            </p>
                            <p>
                                <i class="fas fa-mobile-alt"></i> Phone: <a href="tel:+38162421903">+381 62 421903</a>
                            </p>
                            <p>
                                <i class="fas fa-at"></i>Email: ilija009@gmail.com
                            </p>
                        </div>
                        <h3 class="form-heading">Say Hi!</h3>
                        <form action="/" method="post">
                            <label for="email"></label>
                            <input type="email" id="email" name="email" placeholder="Your email" autocomplete="off"
                                required />
                            <label for="fName"></label>
                            <input type="text" id="fName" name="fName" placeholder="First name" required
                                autocomplete="off" />
                            <label for="lName"></label>
                            <input type="text" id="lName" name="lName" placeholder="Last name" required
                                autocomplete="off" />
                            <label for="message"></label>
                            <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message"
                                required></textarea>
                            <button type="submit">SEND MESSAGE</button>
                        </form>
                        <div class="form-submit-message">
                            <p>Your form has been submited!</p>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="dark-section">
                <div class="inner-container">
                    <ul>
                        <!-- <li>
                            <a href="https://www.instagram.com/ilija009" target="_blank" rel="noopener"
                                aria-label="instagram icon">
                                <i class="fab fa-instagram fa-2x" aria-hidden="true" title="icon instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/ilija.radovanovic1" target="_blank" rel="noopener"
                                aria-label="facebook icon">
                                <i class="fab fa-facebook-square fa-2x" aria-hidden="true" title="icon facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/ilija0009" target="_blank" rel="noopener"
                                aria-label="twitter icon">
                                <i class="fab fa-twitter-square fa-2x" aria-hidden="true" title="icon twitter"></i>
                            </a>
                        </li> -->
                        <li>
                            <a href="https://github.com/janaVukHana" target="_blank" rel="noopener"
                                aria-label="github icon">
                                <i class="fab fa-github fa-2x" aria-hidden="true" title="icon github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ilija-radovanovic-84651a82/" target="_blank"
                                rel="noopener" aria-label="linkedIn icon">
                                <i class="fab fa-linkedin fa-2x" aria-hidden="true" title="icon linkedIn"></i>
                            </a>
                        </li>
                    </ul>
                    <p>&copy; <span class="copyright-year"></span> Ilija Radovanović</p>
                    <p>Made with &hearts; & &#9749; in Novi Sad, Budva and Belgrade.</p>
                </div>
            </footer>

        </div>

        <!-- jQuery for smooth scrolling efect -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="script.js"></script>
    </body>

</html>
